header {
    background-color: #84A373;
    color: #fff;
    padding: 10px;
    /* Lesson 2 - Exercise 1 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo {
    height: 60px;
    padding: 0px 20px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    /* Lesson 2 - Bonus */
    border-bottom: 2px solid transparent;
}

body {
    margin: 0;
    padding: 0;

    /* Lesson 3 - Bonus */
    animation: fadeIn 2s;
}

header > div {
    display: flex;
}

#video {
    width: 100%;
}

#overlay {
    color: white;
    font-size: 20pt;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* Lesson 1 - HW1 */
    background-color: rgba(0,0,0,.3);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

/* Lesson 1 - HW1 */
#overlay-button{
    padding: 14px; 
    background-color: rgba(0, 0, 0, .5); 
    border-radius: 10px;  
    cursor: pointer;
    transition: .8s;
}

/* Lesson 1 - Bonus */
::selection {
    background: #a88c65;
    color: white;
}

/* Lesson 2 */
h1 {
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info > div {
    width: 25%;
    margin-bottom: 40px;
}

.info-image {
    width: 160px;
}

@media (min-width: 900px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .info {
        flex-direction: row;
        justify-content: space-between;
    }

    .info > div {
        width: 30%;
    }

    /* Lesson 2 - HW1 */
    #overlay {
        font-size: 40pt;
    }
}

footer {
    background-color: #B89667;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Lesson 2 - Bonus */
a:hover{
    border-color: white;
    transition: 1s;
}

/* Lesson 3 - Style the animals page */

.animal {
    padding: 25px;
    width: 25%;
    min-width: 200px;
}
  
.animal > img {
    width: 100%;
    height: auto;
}
  
.animal > h3 {
    font-size: 24px;
    margin: 20px 0px;
}

.animals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* Lesson 3 - Bonus */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}